<a href="https://colab.research.google.com/github/afijithpv/Python-assignments-/blob/main/Day3_practiceproblem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
scores = [2,6,4,3,8]
#scores=input("Enter a list of score separated by commas: ")
#scores_arr=map(int, input().split(','))

sorted_scores = sorted(scores, reverse=True)
if len(scores) < 2:
 print("There is no runner-up score.")
else:
 print("The runner-up score is:", sorted_scores[1])

The runner-up score is: 6

In [6]:

D = {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}
name = input("Enter a name:")
capitalized_name = name.capitalize()
if capitalized_name in D:
 D[capitalized_name] = [88, 77, 99]
 print(D)
else:
 print("Name not found")

Enter a name:meena
{'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [88, 77, 99]}

In [7]:
age = int(input("Enter your age: "))
gender = input("Enter your gender (male/female): ")
ticket_price = 0

if age < 5 or age > 60:
    ticket_price = 0
elif 5 <= age <= 12:
    ticket_price = 10
else:
    ticket_price = 50

if gender.lower() == 'female':
    ticket_price *= 0.5
print("Ticket price:", ticket_price)

Enter your age: 12
Enter your gender (male/female): male
Ticket price: 10